<!-- Add a new Inventory item -->
<content>
  <div class="row">
    <div class="col-md-3 mt-5 mx-auto">
      <a routerLink="/" class="blue-accent-text text-uppercase">
        <mdb-icon far icon="arrow-alt-circle-left"></mdb-icon>
        back to inventory data
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <h1 class="text-center display-4 mb-4">
        <span class="blue-accent-text"> Add </span> Inventory
      </h1>
      <div class="text-center">
        <mdb-spinner *ngIf="isLoading" spinnerColor="blue"></mdb-spinner>
      </div>
      <mdb-card>
        <mdb-card-body class="px-lg-5 pt-0">
          <form
            [formGroup]="form"
            (submit)="onSaveInventory()"
            class="text-center"
            style="color: #757575;"
            *ngIf="!isLoading"
          >
            <!--Image-->
            <div class="md-form mt-3">
              <button
                mdbBtn
                type="button"
                color="primary"
                outline="true"
                mdbWavesEffect
                (click)="filePicker.click()"
              >
                Choose Image
              </button>
              <input type="file" #filePicker (change)="onImagePicked($event)" />
            </div>

            <!--Preview image-->
            <div
              class="md-form mt-3"
              *ngIf="imagePreview !== '' && imagePreview"
            >
              <div class="image-preview">
                <img [src]="imagePreview" [alt]="form.value.title" />
              </div>
            </div>

            <!-- Brand -->
            <div class="md-form mt-3">
              <input
                type="text"
                id="brand"
                name="brand"
                [formControlName]="'brand'"
                class="form-control"
                mdbInput
                required
              />
              <label for="brand"> Brand</label>
              <mdb-error
                *ngIf="
                  form.get('brand').invalid &&
                  (form.get('brand').dirty || form.get('brand').touched)
                "
                >Please enter brand</mdb-error
              >
              <mdb-success
                *ngIf="
                  form.get('brand').valid &&
                  (form.get('brand').dirty || form.get('brand').touched)
                "
                >Input valid</mdb-success
              >
            </div>

            <!-- Year -->
            <div class="md-form mt-3">
              <input
                type="number"
                id="year"
                name="year"
                formControlName="year"
                class="form-control"
                mdbInput
              />
              <label for="year"> Year</label>
              <mdb-error
                *ngIf="
                  form.get('year').invalid &&
                  (form.get('year').dirty || form.get('year').touched)
                "
                >Please enter year</mdb-error
              >
              <mdb-success
                *ngIf="
                  form.get('year').valid &&
                  (form.get('year').dirty || form.get('year').touched)
                "
                >Input valid</mdb-success
              >
            </div>

            <!-- Hours -->
            <div class="md-form mt-3">
              <input
                type="text"
                id="hours"
                name="hours"
                formControlName="hours"
                class="form-control"
                mdbInput
              />
              <label for="hours"> Hours</label>
              <mdb-error
                *ngIf="
                  form.get('hours').invalid &&
                  (form.get('hours').dirty || form.get('hours').touched)
                "
                >Please enter hours</mdb-error
              >
              <mdb-success
                *ngIf="
                  form.get('hours').valid &&
                  (form.get('hours').dirty || form.get('hours').touched)
                "
                >Input valid</mdb-success
              >
            </div>

            <!-- Price -->
            <div class="md-form mt-3">
              <input
                type="text"
                id="price"
                name="price"
                formControlName="price"
                class="form-control"
                mdbInput
              />
              <label for="price">Price</label>
              <mdb-error
                *ngIf="
                  form.get('price').invalid &&
                  (form.get('price').dirty || form.get('price').touched)
                "
                >Please enter price</mdb-error
              >
              <mdb-success
                *ngIf="
                  form.get('price').valid &&
                  (form.get('price').dirty || form.get('price').touched)
                "
                >Input valid</mdb-success
              >
            </div>

            <!-- Serial -->
            <div class="md-form mt-3">
              <input
                type="text"
                id="serial"
                name="serial"
                formControlName="serial"
                class="form-control"
                mdbInput
              />
              <label for="serial"> Serial</label>
              <mdb-error
                *ngIf="
                  form.get('serial').invalid &&
                  (form.get('serial').dirty || form.get('serial').touched)
                "
                >Please enter serial number or VIN</mdb-error
              >
              <mdb-success
                *ngIf="
                  form.get('serial').valid &&
                  (form.get('serial').dirty || form.get('serial').touched)
                "
                >Input valid</mdb-success
              >
            </div>

            <!-- Condition -->
            <div class="md-form mt-3">
              <input
                type="text"
                id="condition"
                name="condition"
                formControlName="condition"
                class="form-control"
                mdbInput
              />
              <label for="condition"> Condition </label>
              <mdb-error
                *ngIf="
                  form.get('condition').invalid &&
                  (form.get('condition').dirty || form.get('condition').touched)
                "
                >Please enter condition</mdb-error
              >
              <mdb-success
                *ngIf="
                  form.get('condition').valid &&
                  (form.get('condition').dirty || form.get('condition').touched)
                "
                >Input valid</mdb-success
              >
            </div>

            <!--Description-->
            <div class="md-form">
              <textarea
                type="text"
                id="description"
                class="form-control md-textarea"
                name="description"
                formControlName="description"
                mdbInput
              ></textarea>
              <label for="description">Description</label>
              <mdb-error
                *ngIf="
                  form.get('description').invalid &&
                  (form.get('description').dirty ||
                    form.get('description').touched)
                "
                >Please enter description</mdb-error
              >
              <mdb-success
                *ngIf="
                  form.get('description').valid &&
                  (form.get('description').dirty ||
                    form.get('description').touched)
                "
                >Input valid</mdb-success
              >
            </div>

            <!-- Send button -->
            <button
              mdbBtn
              color="primary"
              block="true"
              class="z-depth-0 my-4 waves-effect"
              mdbWavesEffect
              type="submit"
            >
              Submit
            </button>
          </form>
          <!-- Form -->
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</content>
