<content>
  <!-- Add a new Inventory item -->
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
      <mdb-card class="">
        <mdb-card-header class="brand-color white-text text-center py-4">
          <h5>
            <strong>Add Inventory</strong>
          </h5>
        </mdb-card-header>

        <mdb-card-body class="px-lg-5 pt-0">
          <form class="text-center" style="color: #757575;">
            <!-- Item Name -->
            <div class="md-form mt-3">
              <input type="text" id="itemName" class="form-control" mdbInput />
              <label for="itemName"> Item Name</label>
            </div>

            <!-- Quantity -->
            <div class="md-form mt-3">
              <input type="number" id="qty" class="form-control" mdbInput />
              <label for="qty"> Quantity</label>
            </div>

            <!-- Price -->
            <div class="md-form mt-3">
              <input type="number" id="price" class="form-control" mdbInput />
              <label for="qty">Price</label>
            </div>

            <!-- SKU -->
            <div class="md-form mt-3">
              <input type="text" id="sku" class="form-control" mdbInput />
              <label for="sku"> SKU</label>
            </div>

            <!--Image-->
            <div class="file-field md-form">
              <div
                mdbBtn
                floating="true"
                size="md"
                color="primary"
                mdbWavesEffect
              >
                <mdb-icon
                  fas
                  icon="cloud-upload-alt"
                  aria-hidden="true"
                ></mdb-icon>
                <input
                  type="file"
                  mdbFileSelect
                  (uploadOutput)="onUploadOutput($event)"
                  [uploadInput]="uploadInput"
                />
              </div>
              <div class="file-path-wrapper mt-3">
                <input
                  class="file-path"
                  type="text"
                  placeholder="Upload your image"
                  [value]="showFiles()"
                />
              </div>
            </div>
            <button
              mdbBtn
              type="button"
              color="primary"
              class="waves-light"
              (click)="startUpload()"
              mdbWavesEffect
            >
              Start uploading
            </button>

            <!--Description-->
            <div class="md-form">
              <textarea
                type="text"
                id="description"
                class="form-control md-textarea"
                mdbInput
              ></textarea>
              <label for="description">Description</label>
            </div>


            <!-- Send button -->
            <button
              mdbBtn
              color="primary"
              block="true"
              class="z-depth-0 my-4 waves-effect"
              mdbWavesEffect
              type="submit"
            >
              Submit
            </button>
          </form>
          <!-- Form -->
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <!-- Material form contact -->
</content>
