<content>
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
      <mdb-card>
        <mdb-card-header>
          Header
        </mdb-card-header>
        <mdb-card-body class="px-lg-5 pt-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
          esse laborum iure accusantium repellendus incidunt, quasi sed veniam
          sit iste voluptatem. Totam dolor possimus ducimus esse itaque pariatur
          sint numquam.
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</content>
