<div class="row">
  <div class="col-md-6 mt-5 mx-auto">
    <!-- //TODO add search functionality -->
    <!-- <div class="md-form">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchText"
        (keyup)="searchItems()"
        id="search-input"
        mdbInput
      />
      <label for="search-input">Search</label>
    </div> -->
    <h1>
      <mdb-icon fas icon="table"></mdb-icon>
      Inventory Data
    </h1>
    <hr />
    <table
      mdbTable
      #tableEl="mdbTable"
      stickyHeader="true"
      hover="true"
      striped="true"
      class="z-depth-1"
    >
      <thead class="sticky-top">
        <tr>
          <th
            [mdbTableSort]="inventories"
            [sortBy]="headElements[1]"
            scope="col"
          >
            Brand
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <!-- //TODO add sorting for year -->
          <th>Year</th>
          <!-- //TODO add sorting for hours -->
          <th>Hours</th>
          <!-- //TODO add sorting for condition -->
          <th>Condition</th>
          <!-- //TODO add sorting for price -->
          <th>Price</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody #row>
        <tr mdbTableCol *ngFor="let items of inventories; let i = index">
          <td
            *ngIf="
              i + 1 >= mdbTablePagination.firstItemIndex &&
              i < mdbTablePagination.lastItemIndex
            "
          >
            {{ items.brand }}
          </td>
          <td
            *ngIf="
              i + 1 >= mdbTablePagination.firstItemIndex &&
              i < mdbTablePagination.lastItemIndex
            "
          >
            {{ items.year }}
          </td>
          <td
            *ngIf="
              i + 1 >= mdbTablePagination.firstItemIndex &&
              i < mdbTablePagination.lastItemIndex
            "
          >
            {{ items.hours }}
          </td>
          <td
            *ngIf="
              i + 1 >= mdbTablePagination.firstItemIndex &&
              i < mdbTablePagination.lastItemIndex
            "
          >
            {{ items.condition }}
          </td>
          <td
            *ngIf="
              i + 1 >= mdbTablePagination.firstItemIndex &&
              i < mdbTablePagination.lastItemIndex
            "
          >
            {{ items.price }}
          </td>
          <td
            *ngIf="
              i + 1 >= mdbTablePagination.firstItemIndex &&
              i < mdbTablePagination.lastItemIndex
            "
          >
            {{ items.description }}
          </td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="12">
            <mdb-table-pagination
              [tableEl]="tableEl"
              paginationAlign=""
              [searchDataSource]="inventories"
            ></mdb-table-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
