/***************************************************
    Custom Colors
***************************************************/
$brand-color: #260003;
$blue-accent: #064D73;
$green-accent: #262504;
$red-accent: #730B14;

.brand-color{
  background-color: $brand-color !important;
}
.brand-color-text{
  color: $brand-color !important;
}
.blue-accent{
  background-color: $blue-accent !important;
}
.blue-accent-text{
  color: $blue-accent !important;
}
.green-accent{
  background-color: $green-accent !important;
}
.green-accent-text{
  color: $green-accent !important;
}
.red-accent{
  background-color: $red-accent !important;
}
.red-accent-text{
  color: $red-accent !important;
}

div.btn-primary, button.btn-primary  {
  background-color: $brand-color !important;
}

div.btn-secondary, button.btn-secondary  {
  background-color: $blue-accent !important;
}
button.btn-outline-secondary {
  border-color: $blue-accent !important;
  color: $blue-accent !important;

}


$skins: () !default;
$skins: map-merge((
  "midstates": (
    "skin-primary-color": $brand-color,
    "skin-navbar": #fff,
    "skin-footer-color": #fff,
    "skin-accent": #fff,
    "skin-flat": #fff,
    "skin-sidenav-item": #fff,
    "skin-sidenav-item-hover": #fff,
    "skin-gradient-start": #fff,
    "skin-gradient-end": #fff,
    "skin-mask-slight": #fff,
    "skin-mask-light": #fff,
    "skin-mask-strong": #fff,
    "skin-sn-child": #fff,
    "skin-btn-primary": $brand-color,
    "skin-btn-secondary":$blue-accent,
    "skin-btn-default": $brand-color,
    "skin-text": #fff

  )
), $skins);



@import '~ng-uikit-pro-standard/assets/scss/core/mixins';
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/core/msc/skins-pro';
